:root {
    --sidebar-color: #f6f6f7;
    --sidebar-width: 240px;
}

.page-content {
    display: flex;
    flex-direction: column;

    max-width: 700px;
    margin: 40px auto 0;
    padding: 10px;
}

.page-content br {
    margin-top: 12px;
}

.page-content h1 {
    display: flex;
    
    margin-bottom: 14px;
    border-bottom: 2px solid var(--hr-background-color);
}

.sidebar {
    height: 100vh;
    background-color: var(--sidebar-color);
    max-width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    
    transition: 0.2s;
}

@media screen and (max-width: 900px) {
    .sidebar {
        transform: translateX(calc(-1 * var(--sidebar-width)));
        margin-left: calc(-1 * var(--sidebar-width));
    }
}
