:root {
    --sidebar-color: #f6f6f7;
    --sidebar-width: 240px;
    --sidebar-item-background: rgb(241 241 242);
    --sidebar-text-color: #2a2a2a;
    
    --note-background: rgba(255, 224, 150, 0.65);
    --note-side: rgba(255, 213, 106, 0.65);
}

.page-content {
    display: flex;
    flex-direction: column;

    max-width: 700px;
    min-width: 600px;
    height: calc(100vh - 50px);
    overflow-y: auto;
    margin: 30px auto 0;
    padding: 10px;
}

.page-content br {
    margin-top: 12px;
}

.page-content h1, h2 {
    display: flex;
    
    margin-bottom: 14px;
    border-bottom: 2px solid var(--hr-background-color);
}

.page-content h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
}

.page-content p {
    margin: 5px 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    box-sizing: border-box;
    
    height: 100vh;
    background-color: var(--sidebar-color);
    max-width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    
    transition: 0.2s;
}

.sidebar div {
    display: flex;
    align-items: center;
    color: #515158;
    box-sizing: border-box;
    padding: 0 8px;
    
    height: 35px;
    background-color: var(--sidebar-item-background);
    border-radius: 7px;
    font-weight: 400;
    
    transition: 0.1s;
}

.sidebar > a.active > div {
    filter: brightness(0.975);
}

.sidebar > a.active > div:hover {
    filter: brightness(0.95);
}

.sidebar div:hover {
    filter: brightness(0.975);
}

.sidebar a {
    text-decoration: none;
}

.sidebar > p {
    margin-top: 8px;
    color: var(--sidebar-text-color);
    font-weight: 500;
}

.page-content .note {
    background-color: var(--note-background);
    padding: 7px 10px;
    border-radius: 10px;
    border: 1px solid var(--note-background);
    border-left: 5px solid var(--note-side);
}

@media screen and (max-width: 900px) {
    .page-content {
        min-width: 72%;
    }
    
    .sidebar {
        transform: translateX(calc(-1 * var(--sidebar-width)));
        margin-left: calc(-1 * var(--sidebar-width));
    }
}
