.page-content {
    display: flex;
    flex-direction: column;

    max-width: 800px;
    margin: 40px auto 0;
    padding: 10px;
}

.page-content br {
    margin-top: 12px;
}

.page-content h1 {
    display: flex;
    
    margin-bottom: 14px;
    border-bottom: 2px solid var(--hr-background-color);
}