.page-content {
    display: flex;
    flex-direction: column;

    max-width: 800px;
    margin: 40px auto 0;
    padding: 10px;
}

.page-content br {
    margin-top: 12px;
}

.page-content h1 {
    display: flex;
    width: max-content;
    border-bottom: 3px solid black;
}