html, body {
    padding: 0;
    margin: 0;
}

.index-content {
    display: flex;
    flex-direction: column;
    
    max-width: 800px;
    margin: 40px auto 0;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

hr {
    width: 100%;
}