:root {
    --text-color: rgb(61 59 66);
    --a-color: #6b460d;
    --hr-background-color: #e2e2e3;
    
    --card-background-begin: rgba(0, 0, 0, 0.03);
    --card-background-end: rgba(0, 0, 0, 0.07);
    --card-border: rgb(0, 0, 0, 0.03);
}

html, body {
    padding: 0;
    margin: 0;
    
    font-family: Inter, sans-serif;
    color: var(--text-color);
}

.index-content {
    display: flex;
    flex-direction: column;
    
    max-width: 800px;
    margin: 40px auto 0;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

a, a:visited {
    color: var(--a-color);
}

a:active {
    filter: brightness(1.8);
}

a.silent, a:visited.silent, a:active.silent {
    color: inherit;
    text-decoration: inherit;
}

a:active.silent {
    filter: inherit;
}

hr {
    width: 100%;
    background-color: var(--hr-background-color);
    height: 1px;
    border: 0;
}

.snackbag-colors {
    background-image: linear-gradient(120deg, #f9a11c, #dd8f19);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    
    background-image: linear-gradient(150deg, var(--card-background-begin), var(--card-background-end));
    padding: 15px;
    border-radius: 25px;
    max-width: calc(800px / 2 - 37px);
    
    border: 1px solid var(--card-border);
    cursor: pointer;
    user-select: none;
}

.card:hover {
    filter: brightness(1.5);
}

code {
    background-color: var(--card-background-begin);
    padding: 2px 6px;
    line-height: 22px;
    border-radius: 8px;
}

blockquote {
    border-left: 3px solid var(--card-background-end);
    background-color: var(--card-background-begin);

    padding: 0 40px;
    margin: 1em 0;
    width: max-content;
}

@media screen and (max-width: 820px) {
    .card {
        width: 100%;
        max-width: 100%;
    }
}