{"title": "Card title", "download": "", "sources": "", "issues": "", "href": "#"}
// CONTENT //
    <div class="card" onclick="window.location.replace('<$&href/>')">
        <h2><$&title/></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eos fuga id ipsum libero quaerat quis, quos suscipit voluptas voluptatem!</p>
        <div style="margin-left: auto; margin-top: 10px">
            <%if &download/>
            <a href="<$&download/>" target="_blank" onclick="event.stopPropagation()">Download</a>
            <%end/>
            
            <%if &sources/>
            <a href="<$&sources/>" target="_blank" onclick="event.stopPropagation()">Source Code</a>
            <%end/>
            
            <a href="<$&issues/>" target="_blank" onclick="event.stopPropagation()">Report bug</a>
        </div>
    </div>