{"title": "Card title", "download": "", "issues": "", "href": "#"}
// CONTENT //
<a href="<$&href/>" class="silent">
    <div class="card">
        <h2><$&title/></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi aut consectetur cum, dicta dolores
            ducimus,
            eligendi harum laboriosam laborum magni minima possimus quas sed soluta tempora velit veritatis
            voluptates?</p>
        <div style="margin-left: auto">
            <a href="<$&download/>" target="_blank">Download</a>
            <a href="<$&issues/>" target="_blank">Report bug</a>
        </div>
    </div>
</a>