<!DOCTYPE html>
<html lang="en">
<head>
    <@head/>
</head>
<body>
<div class="index-content">
    <h1>Erm... What the <span class="snackbag-colors">sigma</span>?</h1>
    <hr/>
    <p>Skibidi ohio rizzler >:{ That shit is catastrophically wrong goddamn fix your url</p>
    <code><$message/></code>
    <p style="margin-top: 15px" id="ohio"></p>
</div>
<script type="text/javascript">
    const items = [
        "Next time, try using your brain",
        "Next time, just jump off of a bridge",
        "Next time, pay me to fix your horrendous mistakes",
        "Next time, say 'pretty please'",
        "Next time, become bober and eat wood",
        "Next, time your typing speed",
        "big anon is watching",
        "drink some water and hug your mom right now",
        "m-m-mark..? it's... you???",
        "when she mark my motor and i creative all over the place",
        "fourty four - Lemon",
        "cinq quatorze quarte - jx",
        "LOCAL AREA NETWORK!!!",
        "the people are hallucinations",
        "I'll get castrated for the lack of internet - kam",
        "Can't wait to give you your kisses and cuddles later Snackilicious <3",
        "you have been promoted to one of my ELITE EMPLOYEES!!!!!!!!!!!!!",
        "I do snack all the time 😘",
        "dont buy repo please please please buy phasmophobia im literally dying",
        "I love weird people too",
        "my cup is, my cu... damn I'm covered in piss... my cup is[...]",
        "im eating the hamster",
        "tu la baguette? -> do you have the magical wand?",
        "MAKE SNACKBAG GREAT AGAIN",
        "im very hard at work",
        "who the hell is thomas?!",
        "are you cheating on me?",
        "Jarvis, activate freaky mode",
        "Jarvis, kidnap this guy's cat",
        "Jarvis, fill my helmet with galaxy gas",
        "Jarvis, find out who asked",
        "Jarvis, unshit my pants",
        "Are you finally accepting my feelings😍",
        "what the devils ?!?!?!",
        "It’s looooog it’s loooog it’s big it’s heavy it’s wood. It’s loooog it’s loooog it’s better than bad it’s good",
        "will you go to prom with me?",
        "Discussion about a hallucination and its impact on the conversation",
        "Are you pregnant?",
        "come to my basement",
        "absolute FREAKY",
        "Let's gayme",
        "hax shut",
        "I'm going to saw through your bones!",
        "goober is so darn handsome",
        "idk man -- i just dipped my balls into water -- and boom",
        "you'll be whitelisted in 1.5 hours",
        "im cuminh",
        "i eat children",
        "whos jesus and why is he fucking christ",
        "There's chocolate in my pants. It's been 3 days."
    ]
    const item = items[Math.floor(Math.random() * items.length)];

    document.querySelector("#ohio").innerText = `${item}`;
</script>
</body>
</html>