<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fatal Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    * {
        font-family: Arial, serif;
    }

    html {
        background: #eee;
    }

    body {
        max-width: 500px;
        margin: 0 auto;
        background: white;
        padding: 10px;
    }
</style>
<body>
<h1>Fatal Error</h1>
<ul>
    <$errors/>
</ul>
<p><i>Please contact an administrator</i> — Running <a href="https://github.com/snackbag/compass">compass web server</a></p>
</body>
</html>