<!DOCTYPE html>
<html lang="en">
<head>
    <@head "title": "Welcome to the wiki!"/>
</head>
<body>
<div class="index-content">
    <h1>SnackBag <span class="snackbag-colors">Wiki</span></h1>
    <hr style="margin: 20px 0"/>
    <p>The goal of this wiki is to help you configure everything correctly and make sure everything works as you think
        it does. In addition to the wiki, we also have a <a href="https://discord.gg/7uYhxN7cFj" target="_blank">Discord server</a>. Under this text you may select the project you
        are interested in, and you'll be automatically redirected to the according pages.</p>
    
    <div class="cards" style="margin-top: 20px">
        <@card "title": "TT20 mod", "download": "https://modrinth.com/mod/tt20", "issues": "https://github.com/snackbag/", "href": "/w/tt20"/>
        <@card "title": "Compass Web Server", "sources": "https://github.com/snackbag/compass", "issues": "https://github.com/snackbag/", "href": "/w/compass"/>
    </div>
</div>
</body>
</html>