<!DOCTYPE html>
<html lang="en">
<head>
    <@head/>

    <!--- Page only styles --->
    <link rel="stylesheet" href="/static/css/page.css">

    <link href="/static/js/highlight.min.css" rel="stylesheet">
    <script src="/static/js/highlight.min.js"></script>
</head>
<div style="display: flex">
    <div class="sidebar">
        <div class="sidebar-content">
            <$pages/>
            <div style="margin-top: auto">
                <a href="/"><p>Back</p></a>
            </div>
        </div>
    </div>
    <div style="width: 100%">
        <div class="topbar">
            <%if link_sources/>
            <a href="<$link_sources/>" target="_blank">View Source Code</a>
            <%end/>
            <%if link_download_precompiled/>
            <a href="<$link_download_precompiled/>" target="_blank">Download <$download_info/></a>
            <%end/>
        </div>
        <div class="page-content">
            <$content/>
        </div>
    </div>
</div>
<script>hljs.highlightAll();</script>
</html>