<!DOCTYPE html>
<html lang="en">
<head>
    <@head/>

    <!--- Page only styles --->
    <link rel="stylesheet" href="/static/css/page.css">
</head>
<div style="display: flex">
    <div class="sidebar">
        <a href="/w/<$cp/>/home" class="silent"><div><p>Home</p></div></a>
        <a href="/w/<$cp/>/home" class="silent"><div><p>Home</p></div></a>
        <a href="/w/<$cp/>/home" class="silent"><div><p>Home</p></div></a>
    </div>
    <div class="page-content">
        <$content/>
        <br/>
        <p>test</p>
    </div>
</div>
</html>